.shake{animation:shake 0.2s ease-in;-webkit-animation:shakeAm 0.2s ease-in}
@keyframes shakeAm{
	0%{transform:rotateZ(0deg) translate(0,0)}
	12.5%{transform:rotateZ(5deg) translate(6px,6px)}
	25%{transform:rotateZ(0deg) translate(-4px,5px)}
	37.5%{transform:rotateZ(-5deg) translate(-6px,-6px)}
	50%{transform:rotateZ(0deg) translate(0,0)}
	62.5%{transform:rotateZ(3deg) translate(3px,4px)}
	75%{transform:rotateZ(0deg) translate(-3px,-2px)}
	87.5%{transform:rotateZ(3deg) translate(3px,-2px)}
	100%{transform:rotateZ(1deg) translate(-1px,1px)}
}
@-webkit-keyframes shakeAm{
	0%{transform:rotateZ(0deg) translate(0,0)}
	12.5%{transform:rotateZ(5deg) translate(6px,6px)}
	25%{transform:rotateZ(0deg) translate(-4px,5px)}
	37.5%{transform:rotateZ(-5deg) translate(-6px,-6px)}
	50%{transform:rotateZ(0deg) translate(0,0)}
	62.5%{transform:rotateZ(3deg) translate(3px,4px)}
	75%{transform:rotateZ(0deg) translate(-3px,-2px)}
	87.5%{transform:rotateZ(3deg) translate(3px,-2px)}
	100%{transform:rotateZ(1deg) translate(-1px,1px)}
}
@-moz-keyframes shakeAm{
	0%{transform:rotateZ(0deg) translate(0,0)}
	12.5%{transform:rotateZ(5deg) translate(6px,6px)}
	25%{transform:rotateZ(0deg) translate(-4px,5px)}
	37.5%{transform:rotateZ(-5deg) translate(-6px,-6px)}
	50%{transform:rotateZ(0deg) translate(0,0)}
	62.5%{transform:rotateZ(3deg) translate(3px,4px)}
	75%{transform:rotateZ(0deg) translate(-3px,-2px)}
	87.5%{transform:rotateZ(3deg) translate(3px,-2px)}
	100%{transform:rotateZ(1deg) translate(-1px,1px)}
}
